@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --headline: #FFFFFE;
    --paragraph: #ABD1C6;
    --link: #F9BC60;
    --link-hover: #ffd9a0;
    --link-fade: #f9bc60ab;
}

/* general */

body {
    background-color: #004643;
    font-family: 'Roboto';
    max-width: 1000px;
    margin: auto;
    padding: 100px 50px 0px 50px;
}

h1 {
    font: 36px 'Roboto';
    color: var(--headline);
    margin: 0;
}

h2 {
    font: 32px 'Roboto';
    color: var(--headline);
    margin: 0;
}

h3 {
    font: 24px 'Roboto';
    color: var(--headline);
    margin: 0;
}

p {
    font: 18px 'Roboto';
    color: var(--paragraph);
    margin: 0;
    margin-bottom: 15px;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link);
    text-decoration: underline;
}

li {
    color: var(--paragraph);
}

ul li {
    font-size: 18px;
}

ol {
    font-size: 18px;
}

.stroke {
    font-weight: 500;
}

/* header */
header {
    margin-bottom: 50px;
    text-align: center;
}

header a {
    color: var(--headline)
}

header a:hover {
    color: var(--headline);
    text-decoration: underline;
}

.menu ul {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.menu li {
    display: inline;
    margin-left: 5px;
}

.menu a {
    color: var(--link);
    font-size: 25px;
    
}

.menu a:hover {
    color: var(--link-hover);
}

.back-arrow a {
    color: var(--link-fade);
    top: 0;
    left: 0;
    position: absolute;
    margin: 25px;
}

header img {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 15px;
}

/* main */
#about {
    padding-bottom: 50px;
}

#projects {
    padding-bottom: 100px;
}

#projects h3 {
    padding: 14px 15px 0px;
}

.content {
    padding: 14px 35px 0px;
}

@media screen and (max-width: 700px) { 
    body {
        padding: 50px 25px 0px 25px;
    }

    .content {
        padding: 14px 20px 0px;
    }

}

@media screen and (max-width: 350px) { 
    body {
        padding: 25px 10px 0px 10px;
    }

    .content {
        padding: 14px 10px 0px;
    }

    .back-arrow {
        display: none;
    }

}

