@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Raleway';
    max-width: 1400px;
    margin: auto;
    padding: 45px 50px 0px 50px;
}

header i {
    padding-right: 5px;
    color: #0065FC;
}

h1 { /* section title */
    font-size: 22px; /* 1.375rem */
}

h2 { /* filter title */
    font-size: 18px;
}

h3 { /* card title */
    font-size: 16px;
}

.header-info {
    font-size: 16px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

.no-padding { /* i */
    padding: 0;
}

button {
    font-family: 'Raleway';
    font-weight: bold;
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.semi-bold {
    font-weight: 600;
}

.direction-row {
    display: flex;
    flex-direction: row;
}

.direction-column {
    display: flex;
    flex-direction: column;
}



/* nav */

nav {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
}

.menu a {
    padding: 45px;
}

.menu a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu ul li {
    display: inline;
}

.logo img {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: right;
}



/* header */

.header-title h1 {
    margin-bottom: 8px;
}

.header-info {
    margin-bottom: 20px;
}



/* search bar */

.search-container {
    margin-bottom: 32px;
    font-size: 18px;
}

.search-container i {
    padding: 6px;
}

.search-form {
    padding-top: 16px;
    display: flex;
}

.search-location {
    border-radius: 10px 0 0 10px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 10px;
    text-align: center;
}

.search-location i {
    color: #000000;
}

.search-input {
    border: 1px solid #F2F2F2;
    padding: 10px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    border-radius: 0 10px 10px 0;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

.search-button-icon {
    display: none;
}



/* filter */

.filter-container {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    align-items: center;
}

.filter-container ul li {
    display: inline;
    padding-left: 32px;
}

.filter-container button {
    border-radius: 25px;
    padding: 15px;
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
    font-size: 17px;
}

.filter-container button:hover {
    background-color: #DEEBFF;
}



/* information */

.info-container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}

.info-container i { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    padding: 7px;
    margin-right: 10px;
    margin-bottom: auto;
    font-size: 10px;
    height: 5px;
    width: 5px;
}



/* lodging */

#lodging {
    display: flex;
    gap: 40px;
}

.lodging-info {
    font-size: 14px;
}



/* lodging-here */

.lodging-here {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 20px 40px 0px 40px;
    justify-content: center;
}

.lodging-here img {
    width: 100%;
    height:125px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
}

/* lodging-here-img/lh-x */

.lodging-here-img {
    width: 100%;
    height:125px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
}

.lh-1 {
    background: center url("../images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
}

.lh-2 {
    background: center url("../images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
}

.lh-3 {
    background: center url("../images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
}

.lh-4 {
    background: center url("../images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
}

.lh-5 {
    background: center url("../images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
}

.lh-6 {
    background: center url("../images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
}

.lodging-card {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 880px;
    width: 100%;
    height: auto;
    max-height:250px; /* 200px d'origine */
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #D2D2D2;
    gap: 4px;
}


.lodging-card a::before {
    content: "";
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.lodging-content {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.lodging-card h3,
.rating-stars,
.lodging-info {
    margin: 3px 3px 3px 0px;
    /* padding-left: 16px; */
}

.rating-stars li {
    color: #0065FC;
    font-size: 12px;
    padding: 0;
}

.rating-stars ul {
    display: flex;
    flex-direction: row;
}


.rating-stars li:last-of-type {
    color: #F2F2F2;
}

.lodging-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.show-more {
    padding: 40px 0px 32px;
}



/* popular lodging */

.lodging-popular {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 25%;
    height: auto;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 20px 40px 0px 40px;
}

.lodging-popular-container {
    display: flex;
    flex-direction: column;
}

.lodging-popular-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lodging-popular-stats {
    color: #0065FC;
    margin-left: auto;
}

.lodging-popular-card h3 {
    margin: 0;
    /* padding: 16px 16px 0px 16px; */
}

.lodging-popular-card {
    position: relative;
    width: auto;
    height: 144px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #cccccc;
    margin-bottom: 33px;
    padding:0;
    overflow: hidden;
}

.lodging-popular-img {
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 144px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
}

.lp-1 {
    background: center url("../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
}

.lp-2 {
    background: center url("../images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
}

.lp-3 {
    background: center url("../images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
}

.lodging-popular-card a::before {
    content: "";
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.lodging-popular-card .rating-stars {
    margin-top: auto;
    margin-bottom: 10px;
}

.lodging-popular-content {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0px 16px;
    word-break: break-word;
}

/* activities */

#activities h2 {
    padding-top: 60px;
}

.activities-card {
    position: relative;
    width: 100%;
    height: 444px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    box-shadow: 0px 10px 10px #ececec;
    overflow: hidden;
}

.activities-card-img {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: auto;
    max-height: auto;
    object-fit: cover;
}

.ac-1 {
    background: center url("../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
}

.ac-2 {
    background: center url("../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
}
.ac-3 {
    background: center url("../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
}
.ac-4 {
    background: center url("../images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
}

.activities-title {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    bottom: 0;
}

.activities-title h3 {
    margin: 0;
    padding: 20px 0px 20px 20px;
}

.activities-row {
    display: flex;
    flex-direction: row;
    gap: 42px;
    padding-bottom: 64px;
}

.activities-card a::after {
    content: "";
    /* position: absolute; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


/* footer */

footer {
    display: flex;
    background-color:#F2F2F2;
    padding: 45px 120px;
    gap: 240px;
}

footer li {
    margin: 0;
    padding: 12px;
}


/* media-queries tablet */



/* Media-queries for mobile */

